<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>

	<style>
		* {
			margin: 0 auto;
		}

		table {
			width: 400px;
			height: 10px;
		}

		table,
		tr,
		th,
		td {
			border: solid 1px black;
		}

		table th {
			background-color: grey;
		}
		p {
			color: yellow;
		}
	</style>

	<body>
		<table>
			<tr>
				<th><p>First name</p></th>
				<th><p>last name</p></th>
				<th><p>Full name</p></th>
			</tr>
			{%for item in users%}
			<tr>
				<td>{{item["f_name"]}}</td>
				<td>{{item["l_name"]}}</td>
				<td>{{item["f_name"]}} {{item["l_name"]}}</td>
			</tr>
			{%endfor%}
		</table>
	</body>
</html>
